* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(4, 4, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    height: 100vh;
    width: 100%;
    color: #fff;
}

.searchBox {
    width: 50%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
}

#input {
    width: 80%;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
}

#searchBtn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background: #88f4e2;
    color: #fff;
    cursor: pointer;
}

.content-container {
    width: 90%;
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
    text-align: justify;
    max-width: 700px;
    margin-top: 20px;
    font-family: sans-serif;
}

mark {
    background: #88f4e2;
}