*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#fff;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container .btn{
    border: none;
    padding: 1rem 4rem;
    color: #fff;
    background: #04e6ff;
    font-size: 22px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}
.container .btn::before{
    transition: all .3s ease-out;
    content: "";
    position: absolute;
    height: 34px;
    width: 34px;
    top: -10px;
    left: -10px;
    border-left: 4px solid #04e6ff;
    border-top: 4px solid #04e6ff;
}
.container .btn:hover::before{
    width: 100%;
    height: 100%;
}
.container .btn::after{
    transition: all .3s ease-out;
    content: "";
    position: absolute;
    height: 34px;
    width: 34px;
    right: -10px;
    bottom: -10px;
    border-right: 4px solid #04e6ff;
    border-bottom: 4px solid #04e6ff;
}
.container .btn:hover::after{
    width: 100%;
    height: 100%;
}