*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
section.hero{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 5, 4, 0.354),rgba(12, 8, 4, 0.354));
    position: relative;
    padding: 0px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-video{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.content{
    text-align: center;
}
.content h1{
    font-size: 10rem;
    color: #fff;
    font-weight: 600;
    transition: .3s ease-in;
}
.content h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}
.content a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    border: 2px solid #fff;
    padding: 14px 30px;
    display: inline-block;
    margin-top: 20px;
    transition: .5s ease-out;
}
.content a:hover{
    color: #000;
    background: #fff;
    border: 2px solid #fff;

}
@media only screen and (min-aspect-ratio:16/9) {
    .bg-video{
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-aspect-ratio:16/9) {
    .bg-video{
        width: auto;
        height: 100vh;
    }
}