*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    position: relative;
    width: 30rem;
    height: 35rem;
    background: #000;
    box-shadow: 0 30px 30px #000000a6;
}
.content{
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 10px;
    left: 10%;
    background: #05dcff;
    text-align: center;
    transition: .5s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}
.content h3{
    font-size: 30px;
    text-transform: uppercase;
    margin: 25px;
    color: #fff;
}
.content p{
    width: 80%;
    margin: 10px auto;
    font-size: 1.1rem;
    opacity: 0;
    transition: .5s;
    line-height: 25px;
    color: #fff;
}
.content a{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    transition: .5s;
    opacity: 0;
    line-height: 25px;
}
.container:hover .content{
    width: 100%;
    height: 100%;
    left: 0;
}
.container:hover .content p,.container:hover .content a{
    opacity: 1;
    transition-delay: .25s;
}
.img-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}
.container:hover img{
    opacity: 0;
}