* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ddd;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quote-container {
    padding: 5rem;
    position: relative;
}

#quoteOutput {
    font-family: serif;
    letter-spacing: 2px;
    line-height: 50px;
    font-size: 2rem;
    margin-top: 2rem;
    width: 800px;
}

#authorOutput {
    position: relative;
    margin-top: 5rem;
    text-align: right;
    font-family: serif;
    font-size: 1.2rem;
}

span,
small {
    animation: anime 1s ease-out;
}

span::before {
    content: "\201c";
    font-size: 10rem;
    font-family: serif;
    color: #fdbb11;
    position: absolute;
    left: 40px;
    top: 40px;
    animation: anime 1s ease-out;
}

span::after {
    content: "\201d";
    font-size: 10rem;
    font-family: serif;
    color: #fdbb11;
    position: absolute;
    right: 10px;
    bottom: 10px;
    animation: anime 1s ease-out;
}

@keyframes anime {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.btn {
    padding: 10px 30px;
    background: #fdbb11;
    border: none;
    cursor: pointer;
}