*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    position: relative;
    width: 800px;
    height: 500px;
    background: #222;
    overflow: hidden;
}
.clip{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: clip-path .5s ease-in-out;
}
.clip1{
    background: url(image1.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 33% 0, 25% 100%, 0% 100%);
}
.clip2{
    background: url(image2.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(33% 0, 67% 0, 75% 100%, 25% 100%);
    
}
.clip3{
    background: url(image3.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(67% 0, 100% 0, 100% 100%, 75% 100%);
}
.container:hover .clip{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.container .clip:hover{
    transition: clip-path 0.5s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
