* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: serif;
    color: #fff;
}

.container {
    display: flex;
    width: 100vw;
}

.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img1 {
    background-image: url(images/img1.jpg);
}

.img2 {
    background-image: url(images/img2.jpg);
}

.img3 {
    background-image: url(images/img3.jpg);
}

.img4 {
    background-image: url(images/img4.jpg);
}

.img5 {
    background-image: url(images/img5.jpg);
}

.slide {
    position: relative;
    height: 80vh;
    flex: .5;
    border-radius: 50px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
    transition: all 700ms ease-in-out;
}

.slide h2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    font-size: 24px;
}

@media (max-width:480px) {

    .slide:nth-child(4),
    .slide:nth-child(5) {
        display: none;
    }
}

.slide.active {
    flex: 5;
}

.slide.active h2 {
    color: #fff;
    opacity: 5;
    transition: opacity .3s ease-in-out .4s;
}