*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#333;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: serif;
}
.container a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background: #0aba85;
    padding: 1rem 3rem;
    overflow: hidden;
    transition: all .5s;
    position: relative;
}
.container a::before{
    content: "DOWNLOAD";
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a56ba;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all .5s;
}
.container a::after{
    content: "Button";
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #790aba;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all .5s;
    transition-delay: .25s;
}
a:hover::before,a:hover::after{
    transform: rotateX(0);
}