*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: serif;
}
.hero{
    background: url(image.jpg);
    background-position: center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 10rem;
    font-weight: 900;
    color: transparent;
}