*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#555;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 14px 40px;
    border: 2px solid #fff;
    overflow: hidden;
    position: relative;
    transition: all .5s;
}
.container a::before{
    content: "DOWNLOAD";
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
    transform: translateY(-100%);
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container a:hover::before{
    transform: translateY(0);
}

